* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

header {
  width: 100vw;
  height: 150px;
  background-color: darksalmon;
}

header h3 {
    padding-left: 20px;
    padding-top: 40px;
    font-size: 20px;
}

header h5 {
    padding-left: 20px;
    font-size: 10px;
}

.navegacao {
    display: flex;
}

.navegacao ul{
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

