header {
  width: inherit;
  height: 145px;
  background-color: lightblue;
  background-image: url(../img/background-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

.menu-burger {
  height: 100%;
  display: flex;
  align-items: center;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 70px;
}

label span {
  position: absolute;
  display: block;
  height: 7px;
  width: 100%;
  border-radius: 30px;
  background: #fff;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

.menu{
  display: none;
  width: 300px;
  padding-top: 50px;
  text-decoration: none;
}

.menu > ul {
  list-style: none;
}

.dropdown-menu {
  width: 200px;
  height: 180px;
  border-color: #000;
  background-color: rgba(255, 255, 255, 0.856);
  border: 1px solid;
  margin-top: 4px;
  margin-left: 3px;
}

.dropdown-menu a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.item-menu:hover {
  border: 1px solid;
}

.item-menu {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 15px;
}

#checkbox-menu:checked + label div {
  display: block;
}

nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  height: 30px;
}

.navegacao {
  list-style: none;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.navegacao > li {
  flex: 1;
  text-align: center;
  color: #fff;
}
