h4 {
  font-size: 24px;
  font-weight: 700;
}

.introducao,
.destaques-semana,
.catalogo-produtos,
.catalogo-promocoes {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.introducao {
  margin-bottom: 50px;
}

.introducao h3 {
  font-weight: 600;
  font-size: 32px;
}

.introducao .intro-text {
  width: 587px;
  height: 331px;
  text-align: center;
  background: rgba(141, 81, 48, 0.48);
  border-radius: 0px 10px 10px 0px;
  padding-top: 80px;
  color: #fff;
}

.introducao .intro-text-img {
  width: 80%;
  height: auto;
  display: flex;
  margin-top: 50px;
}

.introducao .intro-text h5 {
  font-size: 18px;
  padding-bottom: 15px;
}

.introducao .intro-text p {
  font-size: 14px;
  padding: 15px;
}

/*Formatacao cards*/

.card-container-destaque,
.card-container-catalogo,
.card-container-promocao {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 370px;
  width: 230px;
  /* padding: 8px; */
  align-items: center;
  text-align: center;
  gap: 15px;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px #000000;
  transition: box-shadow 0.5s;
}

.card-image-container {
  width: 114px;
  height: 186px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
}

.card-produto.nome {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.card-produto.descricao {
  padding: 0 50px;
  font-size: 12px;
  font-weight: 300;
}

.card-preco {
  font-size: 1.1rem;
  font-weight: 600;
}

.btn-comprar {
  width: 120px;
  height: 30px;
  margin-top: 2px;
  border-radius: 45px;
  background-color: #181515;
  color: #fff;
}

.tarja-bege {
  width: 80%;
  height: 300px;
  position: absolute;
  z-index: -1;
  margin-top: 150px;
  background-color: rgba(128, 81, 55, 0.16);
}

.figura-destaques {
  z-index: -2;
  position: absolute;
  right: 0;
  bottom: -170px;
}

.imagem-gota-de-cafe {
  position: absolute;
  left: 0;
  top: 200px;
}

.catalogo-produtos .card {
  background-color: rgba(196, 196, 196, 0.12);
}

.carregar-mais {
  width: 180px;
  height: 45px;
  margin-bottom: 60px;
  background-color: rgba(196, 196, 196, 0.12);
  border-color: #000000;
  border-radius: 45px;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

form {
  width: 400px;
  height: 400px;
  margin-top: 40px;
  padding-left: 40px;
  gap: 20px;
}

.campos {
  margin-bottom: 20px;
}

.cadastroInformacoesPessoais {
  width: 200px;
  height: 30px;
  font-weight: 400px;
}

.cadastroEntradaDeDados {
  width: 30px;
  height: auto;
  box-sizing: border-box;
  resize: none;
}
