h4 {
  font-size: 24px;
  font-weight: 700;
}

.destaques-semana,
.catalogo-produtos,
.catalogo-promocoes {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/*Formatacao cards*/

.card-container-destaque,
.card-container-catalogo,
.card-container-promocao {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 300px;
  padding: 8px;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px #000000;
  transition: box-shadow 1s;
}

.card-image-container {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
}

.card-produto.nome {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.card-produto.descricao {
  padding: 0 50px;
  font-size: 0.9rem;
  font-weight: 300;
}

.card-preco {
  font-size: 1.1rem;
  font-weight: 600;
}

.btn-comprar {
  width: 120px;
  height: 30px;
  margin-top: 20px;
  border-radius: 45px;
  background-color: #181515;
  color: #fff;
}

.tarja-bege {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: -1;
  margin-top: 150px;
  background-color: rgba(128, 81, 55, 0.16);
}

.catalogo-produtos .card {
  background-color: rgba(196, 196, 196, 0.12);
}

.carregar-mais {
  width: 180px;
  height: 45px;
  margin-bottom: 60px;
  background-color: rgba(196, 196, 196, 0.12);
  border-color: #000000;
  border-radius: 45px;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
  width: 400px;
  height: 400px;
  margin-top: 40px;
  padding-left: 40px;
  gap: 20px;
}

.campos {
  margin-bottom: 20px;
}

.cadastroInformacoesPessoais {
  width: 200px;
  height: 30px;
  font-weight: 400px;
}

.cadastroEntradaDeDados {
  width: 30px;
  height: auto;
  box-sizing: border-box;
}
